@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --sidebar-bg: #fef2f2;
    --sidebar-border: #fecaca;
    --text: #374151;
    --heading: #991b1b;
    --hover-text: #b91c1c;
    --hover-bg: #fee2e2;
    --border: #fecaca;
    --card-bg: #ffffff;
    --card-text: #7f1d1d;
    --primary: #dc2626;
  }

  .dark {
    --background: #0a0a0a;
    --sidebar-bg: #250303;
    --sidebar-border: #991b1b;
    --text: #e5e7eb;
    --heading: #f87171;
    --hover-text: #f87171;
    --secondary-bg: #420108;
    --hover-bg: #420108;
    --border: #991b1b;
    --card-bg: #111827;
    --card-text: #fca5a5;
    --primary: #dc2626;
  }
}

@layer base {
  * {
  }
  body {
  }
}
